@import url(https://db.onlinewebfonts.com/c/12e32253f0e25760bf6938c3b941ab8f?family=Tarocco+OT+W01+Bold);

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tarocco OT W01 Bold', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  text-align: center;
  font-size: 18px;
  color: gray;
  padding: 10px 0;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Page Links */
.about-me,
.contact-me {
  padding: 10px 15px;
  margin-top: 50px;
  background-color: red;
  color: white;
  border-radius: 8px;
  border: 2px solid red;
}

.about-me:hover,
.contact-me:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

/* PROFILE CARD STYLES */
article {
  height: 85%;
  width: 400px;
  background: white;
  border-radius: 10px;
  border: 10px solid #e0e0e0;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

figure {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

figure img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

header {
  font-size: 34px;
  font-weight: 700;
}

.abt-me {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.sm-link {
  margin-top: 20px;
}

/* ABOUT US STYLES */

/* FORM/CONTACT US STYLES */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 10px solid #e0e0e0;
} 

form label {
  display: block;
  margin-bottom: -20px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1.5px solid #6882a1;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}